<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Operation</title>
</head>
<body>

    <h2>Welcome to Text Analyzer, Enter your text below.</h2>
    <form action="/analyzer" method= "get">
        <textarea  name='text' style='margin: 0px; width: 986px; height: 197px;'></textarea><br>

        <input type='checkbox' name='rp'>Remove Punctuation<br>
        <input type="checkbox" name='remove_newline'>Remove Newline<br>
        <input type="checkbox" name='remove_Space'>Remove Extra space<br>
        <input type="checkbox" name='uppercase'>uppercase<br>
        <input type="checkbox" name='count_char'>Char counter<br>
        <button type='submit'>Analyze Text</button>

    </form>

</body>
</html>
